.moduleLight {
  --background-color-passive: transparent;
  --background-color-passive-hover: rgba(var(--primary-dark) / 10%);
  --inner-color-passive: rgb(var(--primary-dark));
  --border-color-passive: rgba(var(--primary-dark) / 30%);
  --background-color-active: rgb(var(--secondary-dark));
  --background-color-active-hover: rgb(16 19 25);
  --inner-color-active: rgb(var(--primary-light));
  --border-color-active: rgba(var(--primary-dark) / 30%);
}

.moduleDark {
  --background-color-passive: transparent;
  --background-color-passive-hover: rgba(var(--primary-light) / 10%);
  --inner-color-passive: rgb(var(--primary-light));
  --border-color-passive: rgba(var(--primary-light) / 30%);
  --background-color-active: rgb(var(--primary-light));
  --background-color-active-hover: rgb(238 241 246);
  --inner-color-active: rgb(var(--primary-dark));
  --border-color-active: rgba(var(--primary-light) / 30%);
}

.modulePassive {
  --background-color: var(--background-color-passive);
  --background-color-hover: var(--background-color-passive-hover);
  --inner-color: var(--inner-color-passive);
  --border-color: var(--border-color-passive);
}

.moduleActive {
  --background-color: var(--background-color-active);
  --background-color-hover: var(--background-color-active-hover);
  --inner-color: var(--inner-color-active);
  --border-color: var(--border-color-active);
}

.module {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50vh;
  border: 0.01px solid var(--border-color);
  background-color: var(--background-color);
  transition-duration: 0.3s;
}

.module:hover {
  background-color: var(--background-color-hover);
}

.icon {
  color: var(--inner-color);
  transition-duration: 0.3s;
}
