.moduleLight {
  --background-color: rgba(226 235 244 / 44%);
  --title-color: rgb(var(--primary-dark));
}

.moduleDark {
  --background-color: rgba(17 29 40 / 63%);
  --title-color: rgb(var(--primary-light));
}

.module {
  width: 100%;
  background-color: var(--background-color);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  padding: 10px 10%;
  animation-name: down;
  animation-duration: 0.5s;
  z-index: 100;
  transition-duration: 0.3s;
  font-family: var(--font-dosis), sans-serif;
}

.titleButton {
  padding: 0 10px;
  color: var(--title-color);
  margin-right: auto;
  text-decoration: none;
  font-size: 37px;
  font-weight: 400;
  width: fit-content;
  transition-duration: 0.3s;
}

.titleButton:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.titleButton:active {
  color: #ff2e63;
  transition-duration: 0.3s;
}

@media screen and (width <= 960px) {
  .module {
    padding: 7px 30px;
  }

  .titleButton {
    font-size: 24px;
  }
}

@media screen and (width <= 480px) {
  .module {
    padding: 7px 15px;
  }
}
