.module {
  position: relative;
}

.toolTip {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-100%);
  background: #252f60ee;
  color: white;
  padding: 5px;
  border-radius: 4px;
  filter: drop-shadow(0 2px 3px #252a3480);
  font-size: x-small;
  opacity: 0;
  transform-origin: bottom center;
  visibility: hidden;
  transition: 0.3s ease-out;
}

.module:hover .toolTip {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(-120%);
}
