@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,300;0,500;0,600;0,800&family=M+PLUS+1:wght@100;400;600;800&display=swap");

body {
  font-family: "Montserrat Alternates", "M PLUS 1", sans-serif;
  color: #252a34;
  background-color: #d0dde9;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 500;
  font-size: 1.8em;
  color: #252a34;
  text-decoration: none;
  border-bottom: solid;
  border-color: #252a3430;
  border-width: 1px;
  padding-bottom: 2px;
  margin: 60px 0px 30px 0px;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 500;
}

@media (max-width: 960px) {
  h1 {
    font-size: 1.8em;
    font-weight: 500;
  }
  h2 {
    font-weight: 600;
  }
  h3 {
    font-weight: 500;
  }
  h4 {
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.6em;
    font-weight: 500;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 600;
  }
  h3 {
    font-weight: 500;
  }
  h4 {
    font-weight: 500;
  }
}

@keyframes BlurfadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes BlurUp {
  0% {
    transform: translateY(70px);
    filter: blur(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes BlurfadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    filter: blur(10px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Down {
  0% {
    transform: translateY(-70px);
  }

  100% {
    transform: translateY(0px);
  }
}
